@model ProductListApp.Models.Products

@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Index";
}

<h3>@Localizer["CurrentList"]:  '@Model.ListName'
    <span>
        (<span id="checked-count">0</span>/@Model.ProductList.Count())
    </span>
</h3>


<div>
    <h5>@Localizer["AddProduct"]</h5>
    <form asp-action="Index" style="max-width: 300px">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="NewProduct.Name" class="control-label"></label>
            <input id="pla-products-new-name" asp-for="NewProduct.Name" class="form-control" />
            <span asp-validation-for="NewProduct.Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="NewProduct.Price" class="control-label"></label>
            <input id="pla-products-new-price" asp-for="NewProduct.Price" class="form-control" />
            <span asp-validation-for="NewProduct.Price" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="NewProduct.Quantity" class="control-label"></label>
            <input id="pla-products-new-quantity" asp-for="NewProduct.Quantity" class="form-control" />
            <span asp-validation-for="NewProduct.Quantity" class="text-danger"></span>
        </div>
        <div class="form-group" style="margin: 25px 0px">
            <input id="pla-products-new-submit" type="submit" value="@Localizer["Add"]" class="btn btn-primary" />
        </div>
    </form>

    @if (Model.ProductList.Count() > 0) {
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th class="col">
                        @Html.DisplayNameFor(model => model.NewProduct.Name)
                    </th>
                    <th class="col-2">
                        @Html.DisplayNameFor(model => model.NewProduct.Price)
                    </th>
                    <th class="col-2">
                        @Html.DisplayNameFor(model => model.NewProduct.Quantity)
                    </th>
                    <th class="col-2">
                        @Html.DisplayNameFor(model => model.NewProduct.Status)
                    </th>
                    <th class="col-2">
                        @Localizer["Actions"]
                    </th>
                </tr>
            </thead>
            <tbody id="pla-products-tbody">
                @foreach (var item in Model.ProductList) {
                    <tr>
                        <td class="align-middle" style="word-break: break-word">
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                        <td class="align-middle">
                            <input class="align-middle update-checkbox" type="checkbox" @(item.Status ? "checked" : "") data-id="@item.Id" />
                        </td>
                        <td class="align-middle">
                            <div style="display: flex; justify-content: space-evenly; align-items: center;">
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-primary">
                                    @Localizer["Edit"]
                                </a>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">
                                    @Localizer["Delete"]
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        function updateCheckedCount() {
            var checkedCount = $('.update-checkbox:checked').length;
            $('#checked-count').text(checkedCount);
        }

        updateCheckedCount();

        $('.update-checkbox').change(function () {
            var checkbox = $(this);
            var id = checkbox.data('id');
            var isChecked = checkbox.is(':checked');

            $.ajax({
                url: '@Url.Action("UpdateCheckbox", "Products")',
                type: 'POST',
                data: {
                    id: id,
                    isChecked: isChecked
                },
                success: function (response) {
                    console.log('Checkbox updated successfully.');
                    updateCheckedCount();
                },
                error: function () {
                    console.log('Error updating checkbox.');
                }
            });
        });
    });
</script>
