@model ProductListApp.Models.ProductLists

@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Index";
}

<h3>@Localizer["YourListOfProducts"]</h3>

<div>
    <h5>@Localizer["CreateYourProductList"]</h5>
    <form asp-action="Index" style="max-width: 300px">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="NewProductList.Name" class="control-label"></label>
            <input id="pla-productlists-new-name" asp-for="NewProductList.Name" class="form-control" />
            <span asp-validation-for="NewProductList.Name" class="text-danger"></span>
        </div>
        <div class="form-group" style="margin: 25px 0px;">
            <input id="pla-productlists-new-submit" type="submit" value="@Localizer["Create"]" class="btn btn-primary" />
        </div>
    </form>
    @if (Model.ListOfProductLists.Count() > 0) {
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th class="col">
                        @Html.DisplayNameFor(model => model.NewProductList.Name)
                    </th>
                    <th class="col-3">
                        @Html.DisplayNameFor(model => model.NewProductList.Status)
                    </th>
                    <th class="col-3">
                        @Html.DisplayNameFor(model => model.NewProductList.CreationTime)
                    </th>
                    <th class="col-2">
                        @Localizer["Actions"]
                    </th>
                </tr>
            </thead>
            <tbody id="pla-productlists-tbody">
                @foreach (var item in Model.ListOfProductLists) {
                    <tr>
                        <td class="align-middle pla-productlists-col-1" style="word-break: break-word">
                            @Html.ActionLink(item.Name, "Index", "Products", new { listId = item.Id, listName = item.Name }, null)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.CreationTime)
                        </td>
                        <td class="align-middle">
                            <div style="display: flex; justify-content: space-evenly;">
                                <a class="btn btn-sm btn-primary pla-productlists-edit" asp-action="Edit" asp-route-id="@item.Id">
                                    @Localizer["Edit"]
                                </a>
                                <a class="btn btn-sm btn-danger pla-productlists-delete" asp-action="Delete" asp-route-id="@item.Id">
                                    @Localizer["Delete"]
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

</div>
